{% extends "loja/main.html" %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    <div id="user-info">
                        <div class="form-field">
                            <input required class="form-control" type="text" name="name" placeholder="Nome">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="email" name="email" placeholder="Email">
                        </div>
                

                    </div>

                    <div id="shipping-info">
                        <hr>
                        <p>Informações do Pedido:</p>
                        <hr>
                        <div class="form-field">
                            <input class="form-control" type="text" name="address" placeholder="Endereço">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="city" placeholder="Cidade">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="state" placeholder="Estado">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="zipcode" placeholder="Cep">
                        </div>

                    </div>
                    <hr>
                    <input id="form-button" type="submit" value="Continuar" class="btn btn-success">


                </form>
                <br>
            </div>
            <br>
            <div class="box-element hidden" id="payment-info">
                <small>Opções de Pagamento</small>
                <button id="make-payment"> Pagar </button>
            </div>

        </div>


        <div class="col-lg-6">
            <div class="box-element">

                <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Voltar para o Carrinho</a>
                <hr>
                <h3>Resumo do Pedido</h3>
                <hr>
                {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{item.produto.imageURL}}"></div>
                    <div style="flex:2"><p>{{item.produto.nome}}</p></div>
                    <div style="flex:1"><p>$ {{item.produto.preco|floatformat:2}}</p></div>
                    <div style="flex:1"><p>{{item.quantidade}}</p></div>    
                </div>
                {% endfor %}
                <h5>Items:   {{pedido.get_cart_items}}</h5>
                <h5>Total:   $ {{pedido.get_cart_total|floatformat:2}}</h5>
        

            </div>
        </div>
    </div>

    <script type="text/javascript">
        var envio = '{{pedido.envio}}'
        var total = '{{pedido.get_cart_total|floatformat:2}}'

        if(envio == 'False'){
            document.getElementById('shipping-info').innerHTML = '';

        }

        if (user != 'AnonymousUser'){
            document.getElementById('user-info').innerHTML = '';
        }

        if (envio == 'False' && user != 'AnonymousUser'){
            document.getElementById('form-wrapper').classList.add('hidden');
            document.getElementById('payment-info').classList.remove('hidden');
        }
        var form = document.getElementById('form')

        form.addEventListener('submit', function(e){
            e.preventDefault()
            console.log('Enviando formulario ...')
            document.getElementById('form-button').classList.add('hidden')
            document.getElementById('payment-info').classList.remove('hidden')
        })

        document.getElementById('make-payment').addEventListener('click', function(e){
         submitFormData()
        })

        function submitFormData(){
            console.log('Pagamento Clicado')

            var usuarioFormData = {
                'nome': null,
                'email': null,
                'total': total,
            }

            var envioInfo = {
                'endereco': null,
                'cidade': null,
                'estado': null,
                'cep': null,
            }

            if (user == 'AnonymousUser'){
                usuarioFormData.nome = form.name.value;
                usuarioFormData.email = form.email.value;
            }

            if (envio !== 'False'){
                envioInfo.endereco = form.address.value;
                envioInfo.cidade = form.city.value;
                envioInfo.estado = form.state.value;
                envioInfo.cep = form.zipcode.value;

            }

            console.log('Usuario logado, atualizando pedido')

            var url = '/process_pedido/';
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                    'form': usuarioFormData,
                    'envio': envioInfo,
                })
            }).then(response =>
                response.json()
            ).then(data => {
                console.log('Sucesso: ',data);
                alert('Pedido realizado com sucesso!');
                cart = {}
                document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
                window.location.href = "{% url 'loja' %}";
            })
        }

    </script>
    
{% endblock content %}