{% extends "loja/main.html" %}
{% load static %}
{% block content %}

    <div class="row">

        {% for produto in produtos %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{produto.imageURL}}">
            <div class="box-element product">
                <h6><strong> {{produto.nome}} </strong></h6>
                <hr>

                <button data-produto="{{produto.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Adicionar ao carrinho</button>
                <a class="btn btn-outline-success" href="#"> View</a>
                <h4 style="display: inline-block;  "><strong>${{produto.preco|floatformat:2}}</strong></h4>

            </div>
        </div>
        {% endfor %}
       
    </div>

{% endblock content %}
