{% extends "loja/main.html" %}
{% load static %}
{% block content %}

<main>
            
    <section class="cadastro">
        <h1 class="cadastro__title" > Listagem dos Enderecos
 </h1>
        <br>
        <br>
        
        <input class="cadastro__novo" type="submit" value="Novo Endereco" onclick="location.href= '{% url 'createEndereco' %}'">
        
        <table border="1" id="tabela" >
            <thead class="cadastro__thead">
                <tr>
                    <th scope="col">Cliente</th>
                    <th scope="col">Endereco</th>
                    <th class="cadastro__th" scope="col">Opções</th>
                </tr>

            </thead>

            <tbody class="cadastro_tbody">
            
                {% for Endereco in object_list %}
                    <tr scope="row">
                        <td class="cadastro__data"> {{ Endereco.cliente }} </td>    
                        <td class="cadastro__data"> {{ Endereco.endereco }}</td>
                        <td class="cadastro__data"> 
                            <a href="{% url 'updateEndereco' Endereco.id %}"><button class="btn btn-warning btn-sm" title="Editar"><i class="fa fa-pencil" aria-hidden="true"></i></button></a>
                            <a href="{% url 'deleteEndereco' Endereco.id %}"><button class="btn btn-danger btn-sm" title="Deletar"><i class="fa fa-trash" aria-hidden="true"></i></button></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="page-links">

        {% if page_obj.has_previous %}
            <a class="page-back" href="{% url 'listEndereco' %}?page={{ page_obj.previous_page_number}}" >Anterior</a>
        {% endif %}

        {% if page_obj.has_next %}
            <a id="page-link__a" href="{% url 'listEndereco' %}?page={{ page_obj.next_page_number}}"> Próximo </a>
        {% endif %}
    </div>
{%endblock content%}